.fp_container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-color: #F6F6F4;
  }
  
.fp_first_section {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.fp_second_section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #FFFFFF;
    z-index: 1;
}
  
.fp_second_section img {
    display: block;
    margin-bottom: 30px;
}
  
.fp_header_subheader{
    margin-bottom: 40px;
    margin-top: 100px;
}
  
.fp_header_text{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38,4px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #071015;
    margin-bottom: 0%;
}
  
.fp_subheader_text{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #071015;
}
  
.fp_label_email{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;  
    line-height: 24px;
    color: #071015;
}
  
.fp_submit_button {
    box-sizing: content-box; 
    height: 40px;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 460px;
    border-radius: 32px;
    border: #F4FF47 3px solid;
    color: #071015;
    background-color: #F4FF47;
    margin-bottom: 130px;
    margin-top: 20px;
}
  
.fp_submit_button:hover {
    text-decoration: none;
    background-color: #eef952;
    cursor: pointer;
}
  
.fp_back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #071015;
}
  
.fp_link_login{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #071015;
}

@media (max-width: 600px) {

  .fp_first_section img {
      display: none;
  }
  
  .fp_second_section {
      height: 96vh;
      width: 90%;
      padding: 0;
      margin: 20px 15px 20px 0px;
  }
  
  .fp_second_section img {
      margin-bottom: 60px;
  }
  
  .fp_submit_button {
      width: 320px;
  }
  
}